:root {
--main-blue:#0075BE;
--secondary-blue: #3B4CCA;
--main-yellow: #FFDE00;
--secondary-yellow:#B3A125;
--main-red: #FF0000;
--secondary-red: #CC0000;
--white:white;
--grey:rgb(49, 43, 43);
}

body {
  font-size: 20px;
  margin: 80px;
  text-align: center;
  background-image: url('../img/smallback.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100vh;
  font-family: "VT323", monospace;
}
h1,h2{
text-align: center;
margin:0px;}
h1 {
font-size: 150px;
margin-bottom:20px;
}
.title, .catch-em{
background-color: black;
color:white;
border-radius: 100px;
padding:0px 35px 5px 25px;
font-variant: small-caps;
}
.catch-em{
font-size: 30px;
padding:0px 5px 5px 5px;
}
/*Button for Pokemon & List Grid*/
ul{
list-style-type: none;
display: grid;
grid-template-columns: 1fr 1fr; 
grid-gap:10px;
justify-items:center;
margin:0 auto;
max-width:1200px;
}
.button-class {
background-color: var(--secondary-red);
font-family: "VT323", monospace;
border: 10px solid var(--white);
text-align: center;
border-radius: 50%;
width: 250px;
height:250px;
min-height: 210px;
text-transform: uppercase;
margin: 10px auto;
font-weight: 700;
font-size: 25px;
cursor:grab;
transition: border 0.2s ease, font-size 0.2s ease;
}
.button-class:hover,
.button-class:focus {
  border: 13px solid var(--grey);
  font-size: 45px;
  background-color:var(--main-red);
  color: var(--grey);
  border-radius: 50%;
  text-decoration: underline;
  height: 280px;
  width:280px;
} 